{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="/css/carousel.css" />#}
{#{% endblock %}#}

{% block body %}

    <main role="main">

        {% include 'partials/carousel.html.twig' %}

        <div class="container marketing">

            {% include 'partials/product.html.twig' %}

            {% include'partials/featurette.html.twig' %}

        </div>

    </main>

{% endblock %}

{% block javascripts %}
    {#<script href="/js/holder.min.js" ></script>#}
{% endblock %}
