<!-- Three columns of text below the carousel -->
<h1>Les véhicules</h1>
<div class="row">
    {% for car in cars %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ car.caption }}" class="card-img-top" alt="{{ car.name }}">
                <div class="card-body">
                    <p class="card-text">{{ car.description | raw }}</p>
                    <span class="btn btn-outline-dark"><strong>{{ car.places }} places</strong></span>
                    <a href="#" class="btn btn-info float-lg-right ml-2" title="Voir le produit">Réserver</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div><!-- /.row -->