<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-folder"></i> Marques
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for make in makes %}
            <a class="dropdown-item" href="{{ path('make_show', {'slug': make.slug}) }}">{{ make.name | capitalize }}</a>
        {% endfor %}
    </div>
</li>
