/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/css/flatly.css";
@import "assets/css/signin.css";


.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  /* background: url("http://lorempixel.com/850/280/nature/4/"); */
  background: '#fff';
  background-size: cover;
  height: 75px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

/* .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  } */

/*--------------------------------------------------------------------------
+	Testimonials Style
--------------------------------------------------------------------------*/
.testimonial blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.testimonial blockquote p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.testimonial .testimonial-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .testimonial-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial .author-photo {
  text-align: center;
}
.testimonial .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .author-info {
  font-weight: 400;
  font-size: 0.8em;
}

.ngx-pagination .current {
  background: #18BC9C !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: #18BC9C !important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #18BC9C !important;
  color: #fff !important;
}
