<div class="jumbotron text-center bg-white">
  <h2>Vous souhaitez voyager confortablement ?</h2>
  <h4>Vous êtes au bon endroit !</h4>
  <p class="lead">
    <strong>KayLouer</strong> vous met en relation avec les chauffeurs et les
    clients souhaitant voyager.
  </p>
</div>
<div class="section">
  <div class="container">
    <h2>Les dernières annonces publiées</h2>
    <div class="row">
      <!-- Testimonial -->
      <div class="testimonial col-md-4 col-sm-6">
        <!-- Author Photo -->
        <!--
        -->
        <div class="author-photo">
          <img
            src="http://lorempixel.com/100/100/people/1/"
            alt="Author 1"
          /><br />
          <span class="author-info">Mamadou Diao</span>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <!-- Quote -->
            <p class="quote">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut."
            </p>
            <!-- Author Info -->
            <p>
              Jour de départ : <strong>11-02-2019</strong><br />
              Ville de départ : <strong>Mbour</strong><br />
              Ville d'arrivée : <strong>Dakar</strong>
            </p>
            <div class="row">
              <div class="col-6 text-left">
                Réponses <span class="badge badge-success">8</span>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
              </div>
            </div>
          </blockquote>
          <div class="sprite arrow-speech-bubble"></div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <!-- Author Photo -->
        <div class="author-photo">
          <img
            src="http://lorempixel.com/100/100/people/2/"
            alt="Author 1"
          /><br />
          <span class="author-info">Lamine Camara</span>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <!-- Quote -->
            <p class="quote">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut."
            </p>
            <!-- Author Info -->
            <p>
              Jour de départ : <strong>11-02-2019</strong><br />
              Ville de départ : <strong>Thiès</strong><br />
              Ville d'arrivée : <strong>Saly</strong>
            </p>
            <div class="row">
              <div class="col-6 text-left">
                Réponses <span class="badge badge-success">2</span>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
              </div>
            </div>
          </blockquote>
          <div class="sprite arrow-speech-bubble"></div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <!-- Author Photo -->
        <div class="author-photo">
          <img
            src="http://lorempixel.com/100/100/people/3/"
            alt="Author 1"
          /><br />
          <span class="author-info">Lamine Diao</span>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <!-- Quote -->
            <p class="quote">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut."
            </p>
            <!-- Author Info -->
            <p>
              Jour de départ : <strong>11-02-2019</strong><br />
              Ville de départ : <strong>Thiès</strong><br />
              Ville d'arrivée : <strong>Diourbel</strong>
            </p>
            <div class="row">
              <div class="col-6 text-left">
                Réponses <span class="badge badge-success">2</span>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-success btn-sm">En savoir plus</a>
              </div>
            </div>
          </blockquote>
          <div class="sprite arrow-speech-bubble"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="my-4">Les chauffeurs les mieux notés</h3>
  <div class="row">
    <div class="testimonial col-md-4 col-sm-6">
      <!-- Author Photo -->
      <div class="author-photo">
        <img
          src="http://lorempixel.com/100/100/people/1/"
          alt="Author 1"
        /><br />
        <cite class="author-info">Samba Diao</cite>
      </div>
      <div class="bottom text-warning text-center">
        <fa-icon [icon]="['fas', 'star']"></fa-icon>
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>

    <div class="testimonial col-md-4 col-sm-6">
      <!-- Author Photo -->
      <div class="author-photo">
        <img
          src="http://lorempixel.com/100/100/people/2/"
          alt="Author 1"
        /><br />
        <cite class="author-info">Mamamdou Camara</cite>
      </div>
      <div class="bottom text-warning text-center">
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>

    <div class="testimonial col-md-4 col-sm-6">
      <!-- Author Photo -->
      <div class="author-photo">
        <img
          src="http://lorempixel.com/100/100/people/3/"
          alt="Author 1"
        /><br />
        <cite class="author-info">Mamamdou Camara</cite>
      </div>
      <div class="bottom text-warning text-center">
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
</div>
