<div class="jumbotron text-center bg-white border-bottom rounded-0">
  <h2>Vous souhaitez voyager confortablement ?</h2>
  <h4>Vous êtes au bon endroit !</h4>
  <p class="lead">
    <strong>KayLouer</strong> vous met en relation avec les chauffeurs et les
    clients souhaitant voyager.
  </p>
</div>
<div class="section">
  <!-- 1 -->
  <div class="w-50 mx-auto">
    <h4 class="my-3">Les dernières annonces publiées</h4>
    <div class="row border rounded mt-2">
      <div class="col-sm-3">
        <ul class="timeline h-80">
          <li>Thiès</li>
          <li class="end">Dakar</li>
        </ul>
      </div>
      <div class="col-sm-9 py-3 pr-4 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A nesciunt
        velit deleniti earum, quod quam adipisci ex consectetur assumenda? Ut
        tempore officia libero veniam nemo nostrum dolore ducimus repellendus
        ullam!Sint ullam quidem aut debitis odit sunt pariatur tempora, magnam
        accusantium dolorem perferendis aliquam deleniti vel laboriosam hic
        dolores excepturi iusto officia quibusdam cumque quia illum.
        Necessitatibus eligendi quis commodi.
      </div>
    </div>
    <!-- 2 -->
    <div class="row border rounded mt-2">
      <div class="col-sm-3">
        <ul class="timeline">
          <li>Thiès</li>
          <li class="end">Dakar</li>
        </ul>
      </div>
      <div class="col-sm-9 py-3 pr-4 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A nesciunt
        velit deleniti earum, quod quam adipisci ex consectetur assumenda? Ut
        tempore officia libero veniam nemo nostrum dolore ducimus repellendus
        ullam!Sint ullam quidem aut debitis odit sunt pariatur tempora, magnam
        accusantium dolorem perferendis aliquam deleniti vel laboriosam hic
        dolores excepturi iusto officia quibusdam cumque quia illum.
        Necessitatibus eligendi quis commodi.
      </div>
    </div>
    <!-- 3 -->
    <div class="row border rounded mt-2">
      <div class="col-sm-3">
        <ul class="timeline">
          <li>Thiès</li>
          <li class="end">Dakar</li>
        </ul>
      </div>
      <div class="col-sm-9 py-3 pr-4 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A nesciunt
        velit deleniti earum, quod quam adipisci ex consectetur assumenda? Ut
        tempore officia libero veniam nemo nostrum dolore ducimus repellendus
        ullam!Sint ullam quidem aut debitis odit sunt pariatur tempora, magnam
        accusantium dolorem perferendis aliquam deleniti vel laboriosam hic
        dolores excepturi iusto officia quibusdam cumque quia illum.
        Necessitatibus eligendi quis commodi.
      </div>
    </div>
  </div>
</div>
